/* SCSS Document Style rules for displaying the event blocks and content*/
.eventBlock {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px; }
  .eventBlock div {
    display: inline; }
  .eventBlock .eventTitle {
    font-size: larger;
    font-weight: bold; }

/*# sourceMappingURL=eventStyle.css.map */
