@charset "utf-8";
/* SCSS Document Style rules for displaying the event blocks and content*/


.eventBlock {
	width: 500px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	
	div {
		display:inline;	
		//border: thin solid black;
	}

	.eventTitle {
		font-size:larger;
		font-weight:bold;	
	}

}

