@charset "utf-8";
/* CSS Document - 12 Column Grid Layout */

div.row {
	clear: both;
}

div.row:after {
	clear: both;
	content: "";
	display: table;
}

div[class^="col-"] {
	float: left;
}

div.col-1-1	{wdith: 100%;}
div.col-1-2	{width: 50%;}
div.col-1-3	{width: 33.33%;}
div.col-2-3	{width: 66.67%;}
div.col-1-4	{width: 25%;}
div.col-3-4	{width: 75%;}

