@charset "utf-8";
/* SCSS Document - nav element*/

nav {
	background-color:$secondary-color;

	ul {
		list-style:none;
		margin:0;
		padding:0;	
	}
	
	li {
		float:left;
	}
	
	a {
		display:block;
		padding:10px 10px;
	}

}

nav ul li:last-child {
	float:right;	
}
