@charset "utf-8";
/* SCSS Document - Page Structure*/

#container {
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

.clearFloat {
	clear:both;	
}

form fieldset {
	width:70%;	
}

form fieldset p{
	
	clear:both;
		
	label {
		display:inline-block;
		width:80px;
		text-align:left;
		padding-right:5px;
		vertical-align:top;
	}
	
	input,select,textarea {
		width:300px;
	}
}

#contactCheck {
	display: none;
}

.presenterBlock {
	
	width:300px;
	margin-left:100px;
	margin-bottom:20px;

	.displayfName {
		font-size:x-large;
		font-weight:500;	
	}
	
	.displaylName {
		font-size:x-large;
		font-weight:500;
	}
	
	.displayAddress {
	}
	
	.displayEmail {
	}
}





